.widget-main{
    border: #f5f5f5 solid 1px;
}
.widget-head{
    position: relative;
    background-color: #f5f5f5;
    padding: 0 10px;
    svg{
        width: 15px;
        margin: 0 3px;
        cursor: pointer;
    }
    .title{
        display: inline-block;
        font-size: 13px;
        color: #000;

    }
    .widget-controls{
        position: absolute;
        right: 0;
        top: 0;
    }
}